<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <script src="bower_components/angular/angular.js"></script>

</head>

<body>
    <div ng-app="myApp" ng-controller="chatWindow">
        <div>
            <form id="chat">
                <button type="submit" value="{{connectTo()}}">Connect!</button>
                <button type="submit" value="{{disconnect}}">Disconnect!</button>

                <div ng-repeat="chat in conversations">
                    <fieldset>
                        <legend>{{chat.name}} - id: {{chat.id}}</legend>
                        <table>
                            <tr id="msg" ng-repeat="message in chat.messages">
                                <td>from: {{message.sender}}</td>
                                <td>{{message.message}}</td>
                                <br />
                            </tr>
                        </table>
                    </fieldset>
                </div>

                <fieldset>
                    <legend>Enter message...</legend>
                    <div>
                        <input type="text" placeholder="Your message..." id="inField"/>
                        <input type="submit" value="Send!" />
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</body>

<script type="text/javascript">

    var app = angular.module('myApp', []);

    app.controller('chatWindow', function($scope){
        $scope.websocket;
        $scope.userId = 1
        $scope.friends = [];
        $scope.conversations = []

        $scope.connectTo = function() {
            console.log("connecting...");
            $scope.websocket = new WebSocket("ws://localhost:8090");
            $scope.websocket.onmessage = $scope.onMessage
            $scope.websocket.onopen = $scope.onConnect
            $scope.websocket.onclose = $scope.onClose

            console.log("connected!");
        }

        $scope.onClose = function (event) {
            $scope.websocket.close()
        }

        $scope.onConnect = function (event) {
            $scope.getConversations()
            //$scope.getFriends()
        }
        
        $scope.send = function (message) {
            var jsonMsg = {
                type: "message",
                id: "1",
                message: message,
                sender:$scope.userId
            };
            $scope.websocket.send(JSON.stringify(jsonMsg))
        }
        
        $scope.onMessage = function (evt) {
            console.log('message incoming!!!!!!!!!!!!!!!!!!!')
            var msg = JSON.parse(evt.data);
            console.log(msg.type);
            switch (msg.type) {
                case 'openConversation':
                    console.log('type = openConversation');
                    // Append message to correct conversation.
                case 'message':
                    var newMessage = $('<td>'+msg.sender+':</td><td>'+msg.message+'</td><br />')
                    //$('#msg').append(newMessage)
                case 'conversations':
                    console.log('type = conversation')
                    $scope.conversations = msg.conversations;

                case 'friends':
                    console.log('type = friends')
                    $scope.friends = msg.friends;
                default:
                    console.log("default... we don't know how to handle this...")
            }
        }

        $scope.getFriends = function () {
            var jsonMsg = {type:'friends',id:$scope.userId}
            $scope.websocket.send(JSON.stringify(jsonMsg));
        }

        $scope.getConversations = function () {
            var jsonMsg = {type: 'conversations', user: $scope.userId}
            $scope.websocket.send(JSON.stringify(jsonMsg));
        }

        $scope.getMessagesFrom = function (conversationId) {
            var jsonMsg = {
                type: 'openConversation',
                id: conversationId
            }
            $scope.websocket.send(JSON.stringify(jsonMsg));
        }

        $scope.createConversation = function (name,who) {
            var jsonMsg = {
                type: 'new',
                name: name,
                sender: $scope.userId,
                invited: who
            }
            $scope.websocket.send(JSON.stringify(jsonMsg));
        }

        $scope.inviteToConversation = function (convId,who) {
            var jsonMsg = {
                type: 'invited',
                convId: convId,
                sender: $scope.userId,
                who: who
            }
            $scope.websocket.send(JSON.stringify(jsonMsg));
        }
        
        // On ready
        angular.element(document).ready(function () {
            $scope.userId = 1 // SÄTT ID!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        });



    });

</script>

</html>