<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <script src="bower_components/angular/angular.js"></script>

</head>

<body>
    <div ng-app="myApp" ng-controller="chatWindow">
        <div>
            <form id="chat">
                <div ng-repeat="chat in chats">
                    <fieldset>
                        <legend>{{chat.name}} - id: {{chat.id}}</legend>
                        <table>
                            <tr  ng-repeat="message in chat.messages">
                                <td>Message id: {{message.id}}</td>
                                <td>{{message.body}}</td>
                                <br />
                                <td>from: {{message.sender}}</td>
                            </tr>
                        </table>
                    </fieldset>
                </div>

                <fieldset>
                    <legend>Enter message...</legend>
                    <div>
                        <input type="text" placeholder="Your message..." id="inField"/>
                        <input type="submit" value="Send!" />
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</body>

<script type="text/javascript">

    var app = angular.module('myApp', []);

    app.controller('chatWindow', function($scope){
        $scope.websocket = "ws//:localhost:8082/"
        $scope.chats = [
            {
                id: "1",
                name: 'Chat 1',
                messages : [
                    {id: "1", body: "Hejsan", sender: "user"},{id: "2", body: "Bajs", sender: "user"}
                ]
            },
            {
                id: "2",
                name: 'Chat 2',
                messages : [
                    {id: "1", body: "En annan chat", sender: "user"},{id: "2", body: "chattiriatiriiririri", sender: "user"}
                ]

            }
        ]
    });

</script>

</html>